/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Bitter", serif;
  }
}

:root {
  font-family: "Bitter", serif;
  line-height: 1.5;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* MUI UPPERCASE FIX */
.MuiButton-contained {
  text-transform: unset !important;
}
.MuiButton-outlined {
  text-transform: unset !important;
}
.MuiButton-root {
  text-transform: unset !important;
}